@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* 這個待處理 */
    .bg-food {
        background-image: url('/image/ribbons.png');
        @apply bg-contain;
    }

    .down-triangle {
        border-left: solid 12px;
        border-right: solid 12px;
        border-top: solid 12px;
        border-color: white transparent green;
        width: 0;
        height: 0;
    }
}
.contract-content::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.contract-content::-webkit-scrollbar-track {
    border: 1px solid #D9A87E;
    border-radius: 10px;
}

.contract-content::-webkit-scrollbar-thumb {
    background: #D9A87E;
    border-radius: 10px;
}

.contract-content::-webkit-scrollbar-thumb:hover {
    background: #af5200;
}

::-webkit-calendar-picker-indicator{
    padding: 10px 0px;
}
